/*----main body content----*/
body{
    margin: 0 5% 0 10%;
}
#hands-container{
    overflow: hidden;
    height: 13em;
    width: 90%;
}
#name-container{
    overflow: hidden;
    height: 50px;
    width: 90%;
    background-color: rgb(0, 81, 255);
}
#gameLives-container{
    overflow: hidden;
    height: 325px;
    width: 90%;
}
#score-container{
    overflow: hidden;
    height: 70px;
    width: 90%;
}
/*----hand selection content----*/
.handBox{
    background-color: gray;
    border: solid 2px rgb(0, 81, 255);
    border-radius:50%;
    display:inline-block;
    height: 140px;
    width: 140px;
}
#rock{
    position:fixed;
    top: 4%;
    left:14%;
    background-image: url("../images/rock.png");
    background-position-x:40% ;
    background-position-y:40% ;
    background-size: 90%;
    background-repeat: no-repeat;
}
#rock:hover{
    position:fixed;
    top: 2%;
    left:13%;
    height: 180px;
    width: 180px;
}
#lizard{
    position:fixed;
    top: 4%;
    left:28.2%;
    background-image: url("../images/lizard.png");
    background-position-x:40% ;
    background-position-y:40% ;
    background-size: 90%;
    background-repeat: no-repeat;
}
#lizard:hover{
    position:fixed;
    top: 2%;
    left:26.8%;
    height: 180px;
    width: 180px;
}
#spock{
    position:fixed;
    top: 4%;
    left:42.5%;
    background-image: url("../images/spock.png");
    background-position-x:90% ;
    background-position-y:40% ;
    transform:rotateZ(10deg);
    background-size: 85%;
    background-repeat: no-repeat;
}
#spock:hover{
    position:fixed;
    top: 2%;
    left:41.2%;
    height: 180px;
    width: 180px;
}
#paper{
    position:fixed;
    top: 4%;
    right:32.5%;
    background-image: url("../images/paper.png");
    background-position-x:60% ;
    background-position-y:40% ;
    background-size: 60%;
    background-repeat: no-repeat;
}
#paper:hover{
    position:fixed;
    top: 2%;
    right:31.2%;
    height: 180px;
    width: 180px;
}
#scissors{
    position:fixed;
    top: 4%;
    right:18%;
    background-image: url("../images/scissors.png");
    background-position-x:60% ;
    background-position-y:40% ;
    background-size: 96%;
    background-repeat: no-repeat;
}
#scissors:hover{
    position:fixed;
    top: 2%;
    right:17.2%;
    height: 180px;
    width: 180px;
}
.Label{
    background-color: rgb(0, 81, 255);
    color: #fff;
    text-align: center;
    margin: 110% 0 0 18%;
    height:15% ;
    width: 60%;
    border-radius: 20px;
}
.Label:hover{
    background-color:transparent;
    color: #fff;
    text-align: center;
    height:15% ;
    width: 60%;
    border-radius: 20px;
}
#spockLabel{
    transform:rotateZ(-10deg);
    margin: 110% 0 0 29%;
}
/*----name and status boxs----*/
.nameBox{
    display: inline-block;
    height: 40px;
    width: 24%;
}
#userName{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position:relative;
    top: 0.4%;
    left:18.5%;
}
#statusBox{
    text-transform: capitalize;
    color:#fff;
    text-align: center;
    position:relative;
    top: 0.5%;
    left:20.2%;
    display: inline-block;
    height: 40px;
    width: 10%;
}
#comName{
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    position:relative;
    top: 0%;
    left:21.8%;
}
/*----game lives and selected hand----*/
.livesBox{
    display: inline-block;
    height: 250px;
    width: 50px;
}
#playerLives{
    position:absolute;
    left: 18%;
}
#comLives{
    position:absolute;
    right: 23.2%;
}
/*----life boxs----*/
.life{
    margin: 10px 0 0 4px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border:solid 5px rgb(0, 81, 255);;
}
.fa-solid{
    position: relative;
    top:10%;
    left:10%;
    text-align: center;
    font-size: 30px;
}
#playLifeOne{
    color: red;
}
#playLifeTwo{
    color: red;
}
#playLifeThree{
    color: red;
}
#comLifeOne{
    color: red;
}
#comLifeTwo{
    color: red;
}
#comLifeThree{
    color: red;
}
/*------users choosen hand display----*/ 
#playerSelection{
    position:absolute;
    left: 24.2%;
}
#comSelection{
    display:inline-block;
    position:absolute;
    right: 28.5%;
}
.pickedBox{
    height: 250px;
    width: 250px;
}
/*------the current selected hand of user and computer---*/
.selected{
    margin: 5% 0 0 0;
    height:100%;
    width: 100%;
    border-radius: 50%;
    border: solid 2px blue;
}
#playersChoosen{
    background-image: url("../images/spock.png");
    background-position-x:90% ;
    background-position-y:40% ;
    transform:rotateZ(10deg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-color: gray;
}
#computersChoosen{
    background-image: url("../images/rock.png");
    background-position-x:90% ;
    background-position-y:40% ;
    transform:rotateZ(10deg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-color: gray;
}
/*----borderline seperating selected hands-----*/
#centerFold{
border-left: solid 3px rgb(14, 7, 112);
border-right: solid 3px rgb(14, 7, 112);
border-style: groove;
position: relative;
left:47.5%;
display: inline-block;
height: 250px;
width: 3%;
}
/*-------Start Button begins the logic-------*/
#startButton{
    height:30px ;
    width: 130px;
    background-color: rgb(14, 7, 112);
    text-transform:uppercase;
    color: #fff;
    position:relative;
    top:10%;
    left: 39.5%;
}
#startButton:hover{
    height:30px ;
    width: 130px;
    background-color: #fff;
    color: rgb(14, 7, 112);
    font-size: 17px;
    font-weight: bolder;
    position:relative;
    top:10%;
    left: 39.5%;
}
/*----score titles and count boxs----*/
.scoreBox{
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 250px; 
}
#winBox{
    position: relative;
    left:18.5%;
}
#lostBox{
    position: relative;
    left:21.5%; 
}
.countBox{
    text-align: center;
    text-size-adjust: 20px;
    display: inline-block;
    height: 50px;
    width: 50px; 
}
#winCount{
    font-size: 100%;
    position: relative;
    left:20%;
    color:green;
}
#lostCount{
    font-size: 100%;
    position: relative;
    left:20%;
    color: red;
}
/*----media queries----*/
/*----------------------*/
@media(max-width:1200px){
   
        body{
            margin: 0 0 0 0;
        } 
        .handBox{
            display:inline-block;
            height: 120px;
            width: 120px;
        }
        #hands-container{
            width: 100%;
        }
        #name-container{
            height: 42px;
            width: 100%;
        }
        #gameLives-container{
            height: 300px;
            width: 100%;
        }
        #score-container{
            width: 100%;
        }
        #centerFold{
            position: relative;
            left:48.2%;
            width: 2%;
            }
        #rock{
            position:fixed;
            top: 4%;
            left:14%;
        }
        #rock:hover{
            position:fixed;
            top: 2%;
            left:11%;
        }
        #lizard{
            position:fixed;
            top: 4%;
            left:28.2%;
        }
        #lizard:hover{
            position:fixed;
            top: 2%;
            left:27.8%;
        }
        #spock{
            position:fixed;
            top: 4%;
            left:43.9%;
        }
        #spock:hover{
            position:fixed;
            top: 2%;
            left:42.2%;
        }
        #paper{
            position:fixed;
            top: 4%;
            right:28.5%;
        }
        #paper:hover{
            position:fixed;
            top: 2%;
            right:27.4%;
        }
        #scissors{
            position:fixed;
            top: 4%;
            right:14%;
        }
        #scissors:hover{
            position:fixed;
            top: 2%;
            right:12%;
        }
        #comSelection{
            display:inline-block;
            position:absolute;
            right: 25%;
        }
        #comLives{
            position:absolute;
            right: 19.8%;
        }
        #startButton{
            position:relative;
            top:10%;
            left: 41.6%;
            width: 10%;
            text-transform: uppercase;
            font-size: 20px;
        }
        .scoreBox{
            text-align: center;
            display: inline-block;
            height: 50px;
            width: 250px; 
        }
        #winBox{
            position: relative;
            left:18.5%;
        }
        #lostBox{
            position: relative;
            left:17.5%; 
        }
        .countBox{
            text-align: center;
            text-size-adjust: 20px;
            display: inline-block;
            height: 50px;
            width: 50px;
        }
        #winCount{
            position: relative;
            left:18%;
        }
        #lostCount{
            position: relative;
            left:18%;
        }
        
}
@media(max-width:900px){
   
    body{
        margin: 0 0 0 0;
    } 
    .handBox{
        height: 85px;
        width: 85px;
    }
    .livesBox{
        height: 50px;
        width: 250px;
    }
    #playerLives{
        position:fixed;
        top: 47%;
        left: 12.3%;
    }
    #comLives{
        position:fixed;
        top: 47%;
        right: 5.2%;
    }
    .life{
        display:inline-block;
        margin: 4px 0 0 10px;
        height: 40px;
        width: 40px;
    }
    #playerSelection{
        position:fixed;
        left: 12.2%;
    }
    #comSelection{
        position:fixed;
        right: 12.5%;
    }
    #winBox{
        position: relative;
        left:10.5%;
    }
    #lostBox{
        position: relative;
        left:8.5%; 
    }
    #winCount{
        position: relative;
        left:10%;
    }
    #lostCount{
        position: relative;
        left:10%;
    }
}
/*-----media screens under 500px---*/
/*---------------------------------*/
@media(max-width:500px){
    body{
        margin: 0;
    }
    #hands-container{
        height: 16em;
    }
    #name-container{
        height: 60px; 
    }
    #gameLives-container{
        height: 260px;
    }
    #score-container{
        height: 150px;
    }
    .handBox{
        height: 80px;
        width: 80px;   
    }
    #rock{
        position:fixed;
        top: 2%;
        left:8%;
    }
    #rock:hover{
        position:fixed;
        top: 0%;
        left:2%;
    }
    #lizard{
        position:fixed;
        top: 18%;
        left:8%;
    }
    #lizard:hover{
        position:fixed;
        top: 18%;
        left:2%;
    }
    #spock{
        position:fixed;
        top: 10%;
        left:40%;
    }
    #spock:hover{
        position:fixed;
        top: 5%;
        left:31%;
    }
    #paper{
        
    
        position:fixed;
        top: 18%;
        right:8%;
    }
    #paper:hover{
        position:fixed;
        top: 12%;
        right:2%;
        height: 180px;
        width: 180px;
    }
    #scissors{
        position:fixed;
        top: 2%;
        right:8%;
    }
    #scissors:hover{
        transform: rotateX();
        position:fixed;
        top: 0%;
        right:2%;
        height: 180px;
        width: 180px;
    }
    .nameBox{
        display: inline-block;
        height: 40px;
        width: 35%;
    }
    #userName{
        position:relative;
        top: 0.4%;
        left:8%;
    }
    #statusBox{
        position:relative;
        top: 0.5%;
        left:9.5%;
    }
    #comName{
        text-align: center;
        position:relative;
        top: 0%;
        left:10%;
    }
    #playerSelection{
        position:absolute;
        left: 2%;
    }
    #comSelection{
        display:inline-block;
        position:absolute;
        right: 2%;
    }
    .pickedBox{
        height: 160px;
        width: 160px;
    }
    .livesBox{
        display: inline-block;
        height: 50px;
        width: 160px;
    }
    #playerLives{
        position:fixed;
        top:65%;
        left: 2%;
    }
    #comLives{
        position:fixed;
        top:65%;
        right: 2%;
    }
    /*----life boxs----*/
    .life{
        margin: 4px 0 0 10px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border:none;
    }
    #centerFold{
        position: relative;
        left:47.5%;
        height: 150px;
        width: 3%;
        
        }
        #startButton{
            position:fixed;
            top:73%;
            left: 35%;
            width: 30%;
            text-transform: uppercase;
            font-size: 20px;
        }
        .scoreBox{
            display: inline-block;
            height: 50px;
            width: 150px; 
        }
        #winBox{
            position: fixed;
            top:79%;
            left:2%;
        }
        #lostBox{
            position: fixed;
            top:79%;
            left:55%; 
        }
        .countBox{
            display: inline-block;
            height: 50px;
            width: 50px; 
        }
        #winCount{
            position: fixed;
            top:86%;
            left:15%;
        }
        #lostCount{
            position: fixed;
            top:86%;
            left:68%;
        }
}