/*----main body content----*/
body{
    margin: 0 0% 0 0%;
}
header{
    height: 2em;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.options{
    margin: 0.04em 0 0 2em;
    display:inline-block;
    text-decoration: none;
    color: blue;
}
hr{
    color: blue;
}
#hands-container{
    overflow: hidden;
    height: 12.4em;
    width: 90%;
    background-color: blueviolet;
}
#name-container{
    overflow: hidden;
    height: 44px;
    width: 90%;
    background-color: rgb(0, 81, 255);
}
#gameLives-container{

    height: 260px;
    width: 90%;
    background-color: violet;
}
#start-container{
    height:30px;
    width:90%;
    background-color: aqua;

}
#score-container{
    display: flex;
    height: 70px;
    width: 90%;
    background-color: lightgreen;   
}
/*----hand selection content----*/
.handBox{
    background-color: gray;
    border: solid 2px rgb(0, 81, 255);
    border-radius:50%;
    display:inline-block;
    height: 140px;
    width: 140px;
}
#rock{
    position:fixed;
    margin: 20px 0 0 5%;
    background-image: url("../images/rock.png");
    background-position-x:40% ;
    background-position-y:40% ;
    background-size: 90%;
    background-repeat: no-repeat;
}
#rock:hover{
    margin: 2px 0 0 45px;
    height: 180px;
    width: 180px;
}
#lizard{
    position: fixed;
    margin: 1.5% 0 0 22%;
    background-image: url("../images/lizard.png");
    background-position-x:40% ;
    background-position-y:40% ;
    background-size: 90%;
    background-repeat: no-repeat;
}
#lizard:hover{
    margin: 2px 0 0 220px;
    height: 180px;
    width: 180px;
}
#spock{
    position: fixed;
    margin: 1.5% 0 0 39.3%;
    background-image: url("../images/spock.png");
    background-position-x:90% ;
    background-position-y:40% ;
    transform:rotateZ(10deg);
    background-size: 85%;
    background-repeat: no-repeat;
}
#spock:hover{
    margin: 2px 0 0 420px;
    height: 180px;
    width: 180px;
}
#paper{
    position: fixed;
    margin: 1.5% 0 0 57%;
    background-image: url("../images/paper.png");
    background-position-x:60% ;
    background-position-y:40% ;
    background-size: 60%;
    background-repeat: no-repeat;
}
#paper:hover{
    margin: 2px 0 0 620px;
    height: 180px;
    width: 180px;
}
#scissors{
    position: fixed;
    margin: 1.5% 0 0 70%;
    background-image: url("../images/scissors.png");
    background-position-x:60% ;
    background-position-y:40% ;
    background-size: 96%;
    background-repeat: no-repeat;
}
#scissors:hover{
    margin: 2px 0 0 820px;
    height: 180px;
    width: 180px;
}
.Label{
    background-color: rgb(0, 81, 255);
    color: #fff;
    text-align: center;
    margin: 110% 0 0 18%;
    height:15% ;
    width: 60%;
    border-radius: 20px;
}
.Label:hover{
    background-color:transparent;
    color: #fff;
    text-align: center;
    height:15% ;
    width: 60%;
    border-radius: 20px;
}
#spockLabel{
    transform:rotateZ(-10deg);
    margin: 110% 0 0 29%;
}
/*----name and status boxs----*/
.nameBox{
    display: inline-block;
    height: 40px;
    width: 24%;
    background-color: black;
}
#userName{
    position: fixed;
    margin: 0 0 0 9.7%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: orange;
}
#statusBox{
    position:fixed;
    margin: 0 0 0 34.3%;
    text-transform: capitalize;
    color:#fff;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 20%;
    background-color: red;
}
#comName{
    position: fixed;
    margin: 0 0 0 54.8%;
    text-transform: uppercase;
    color:#fff;
    text-align: center;

    background-color: gold;
}
/*----game lives and selected hand----*/
.livesBox{
    display: inline-block;
    height: 250px;
    width: 50px;
}
#playerLives{
    position:fixed;
    margin: 0 0 0 4%;   
    float: left;
    background-color: lightgreen;
   
}
#comLives{
    position:fixed;
    margin: 0 0 0 81.8%; 
    float: left;
    background-color: darkorchid;
}
/*----life boxs----*/
.life{
    margin: 10px 0 0 -1px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border:solid 5px rgb(0, 81, 255);;
}
.fa-solid{
    position: relative;
    top:10%;
    left:10%;
    text-align: center;
    font-size: 30px;
}
#playLifeOne{
    color: red;
}
#playLifeTwo{
    color: red;
}
#playLifeThree{
    color: red;
}
#comLifeOne{
    color: red;
}
#comLifeTwo{
    color: red;
}
#comLifeThree{
    color: red;
}
/*------users choosen hand display----*/ 
#playerSelection{
    position: fixed;
    margin: 0 0 0 12%;
    float: left;
    background-color: orangered;
}
#comSelection{
    position: fixed;
    margin: 0 0 0 57.3%;
    float: left;
    display:inline-block;
    background-color: blueviolet;
}
.pickedBox{
    height: 250px;
    width: 250px;
}
/*------the current selected hand of user and computer---*/
.selected{
    margin: 5% 0 0 0;
    height:100%;
    width: 100%;
    border-radius: 50%;
}
#playersChoosen{
    background-size: 85%;
    background-repeat: no-repeat;
    border: solid 5px rgb(13, 162, 221);
}
#computersChoosen{
    background-image: url("");
    background-size: 85%;
    background-repeat: no-repeat;
    background-color: gray;
    border: solid 5px blue;
}
/**
images for choosen hand area
*/
#rocky{
    height:100% ;
    width: 100%;
    border-radius: 50%;
    background-color: gray;
    background-image: url("../images/rock.png");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: 90%;
    background-repeat: no-repeat;
}
#hssss{
    height:100% ;
    width: 100%;
    background-color: gray;
    border-radius: 50%;
    background-image: url("../images/lizard.png");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: 90%;
    background-repeat: no-repeat;
}
#vulcan{
    height:100% ;
    width: 100%;
    background-color: gray;
    border-radius: 50%;
    background-image: url("../images/spock.png");
    background-position-x: 78%;
    background-position-y: 40%;
    transform: rotate(10deg);
    background-size: 85%;
    background-repeat: no-repeat;
}
#wrap{
    height:100% ;
    width: 100%;
    background-color: gray;
    border-radius: 50%;
    background-image: url("../images/paper.png");
    background-position-x: 60%;
    background-position-y: 40%;
    background-size: 65%;
    background-repeat: no-repeat;
}
#cutting{
    height:100% ;
    width: 100%;
    background-color: gray;
    border-radius: 50%;
    background-image: url("../images/scissors.png");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: 90%;
    background-repeat: no-repeat;
}
#selctionAfter{
    height:100% ;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    background-image: url("");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: 90%;
    background-repeat: no-repeat;
    border: solid 5px rgb(13, 162, 221);
}
/*----borderline seperating selected hands-----*/
#centerFold{
    position: fixed;
    margin: 0 0 0 42.5%;
    float:left;
    border-left: solid 3px rgb(14, 7, 112);
    border-right: solid 3px rgb(14, 7, 112);
    border-style: groove;
    display: inline-block;
    height: 250px;
    width: 3%;
    background-color: blueviolet;
}
/*-------Start Button begins the logic-------*/
#startButton{
    margin: 0 0 0 43%;
    float:left;
    height:30px ;
    width: 130px;
    background-color: rgb(14, 7, 112);
    text-transform:uppercase;
    color: #fff;
}
#startButton:hover{
    margin: 0 0 0 43%;
    float:left;
    height:30px ;
    width: 130px;
    background-color: #fff;
    color: rgb(14, 7, 112);
    font-size: 17px;
    font-weight: bolder;
   
}
/*----score titles and count boxs----*/
.scoreBox{
     
    text-align: center;
    height: 50px;
    width: 250px; 
    background-color: maroon;
}
#winBox{
    margin: 0 0 0 16.5%;
    background-color: blueviolet;
}
#lostBox{
    margin: 0 0 0 2.5%;
    background-color: blueviolet;
}
.countBox{
    text-align: center;
    margin: 0 0 0 0;
    font-size: 20px;
    display: inline-block;
    height: 50px;
    width: 50px; 
    background-color:orange;
}
#winCount{
    margin: 1% 0 0 2%;
    height: 20px;
    color:green;
    
}
#lostCount{
    margin: 1% 0 0 3%;
    color: red;
}
#victory{
    margin: 0 0 0 0;
    font-size: 35px;
    color: green;
    
}
#defeat{
    margin: 0 0 0 0;
    font-size: 35px;
    color: red;
    background-color: aqua;
}
/*----media queries----*/
/*----------------------*/

